

<section class="container py-5 mb-5" >
    <h2 class="text-center display-4">CuSur</h2>
    <hr>
  
    <div class="row py-5 ">

          <div class="col-sm-12 col-lg-4 py-5">
                <h2 class="text-center  display-4">Credencial</h2>
                <hr>
                <div class="d-flex justify-content-center">
                    <img src="{{images.schoolPackage.cusCard}}" alt="" class="img-2 shadow">
                </div>   
         </div>

        
      <div class="col-sm-12 col-lg-4 py-5">
          <h2 class="text-center display-4">Infantil</h2>
          <hr>
          <div class="d-flex justify-content-center">
            <img src="{{images.schoolPackage.cusIn}}" alt="" class="img-2 shadow">
          </div> 
      </div>

      <div class="col-sm-12 col-lg-4 py-5">
          <h2 class="text-center  display-4">Titulo</h2>
          <hr>
          <div class="d-flex justify-content-center">
            <img src="{{images.schoolPackage.cusTitle}}" alt="" class="img-2 shadow">
          </div>
     </div>
 

      <div class="col-sm-12 col-md-12 py-5 px-5">
            <h2 class="text-center display-4">Paquete</h2>
            <hr>
            <img src="{{images.schoolPackage.cusPackage}}" alt="" class="img shadow">
        </div>

     
      <div class="col-sm-12 col-md-12 py-5 px-5">
          <h2 class="text-center display-4">Paquete Cusur</h2>
          <hr>
          <img src="{{images.schoolPackage.cusPackageCus}}" alt="" class="img shadow">
      </div>

     </div> 

  </section>
  