<section class="container py-5">
    <h1 class="text-center display-4"><i class="fa fa-address-card-o mr-2"></i> Fotografías de Identificación</h1>
    <hr>

      <div class="row py-5">

        <div class="col-sm-12 col-md-12">

            <h2 class="display-4">Credencial</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.card1}}" alt="" class=" mb-5  shadow">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.card2}}" alt="" class="mb-5 shadow">
                </div>  
            </div>

          </div> 

        </div>


        <div class="col-sm-12 col-md-12">

            <h2 class="display-4">Credencial Ovalada</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.cardOval1}}" alt="" class=" mb-5 shadow">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.cardOval2}}" alt="" class="mb-5 shadow">
                </div>  
            </div>

          </div> 

        </div>


        <div class="col-sm-12 col-md-12">

            <h2 class="display-4">Titulo</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.titulo1}}" alt="" class=" mb-5 shadow">
                </div>  
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.titulo2}}" alt="" class="mb-5 shadow">
                </div>  
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.titulo3}}" alt="" class="mb-5 shadow">
                </div>  
            </div>

          </div> 

        </div>



        <div class="col-sm-12 col-md-12">

            <h2 class="display-4">Titulo Ovalado</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.tituloOval1}}" alt="" class=" mb-5  shadow">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.tituloOval2}}" alt="" class="mb-5  shadow">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12 py-5">

            <h2 class="display-4">Diploma</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.diploma}}" class=" shadow" alt="">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12">

            <h2 class="display-4">Infantil</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.infantil1}}" alt="" class=" mb-5  shadow">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.infantil2}}" alt="" class="mb-5  shadow">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12">

            <h2 class="display-4">Pasaporte</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.pasaporte1}}" alt="" class=" mb-5  shadow">
                </div>  
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.pasaporte2}}" alt="" class="mb-5  shadow">
                </div>  
            </div>

          </div> 

        </div>

        <div class="col-sm-12 col-md-12">

            <h2 class="display-4">Visa</h2>
            <hr>
         <div class="row">

            <div class="col-sm-12 col-md-6">
                <div class="d-flex justify-content-center">
                    <img src="{{images.identification.visa}}" class=" shadow" alt="">
                </div>  
            </div>

          </div> 

        </div>

  </div>
</section>
