<section class="mb-5">
  <div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-12 col-md-6">
            <button class="mr-auto ml-auto mb-3 containers btn btn-dark" routerLink="/sucursal-1">
            <h2>SUCURSAL 1</h2>
            <i class="fa fa-home mr-2 i"></i>
            </button>
        </div>
        <div class="col-12 col-md-6">
            <button class=" mr-auto ml-auto containers btn btn-primary" routerLink="/sucursal-2">
                <h2>SUCURSAL 2</h2>
                <i class="fa fa-home mr-2 i"></i>
            </button>
        </div>
    </div>

    <div class="row mt-5 mb-4">
        <div class="col-sm-12">
            <button class="btn btn-danger btn-block" (click)="logOut()">
                <i class="fa fa-sign-out mr-2"></i>  Cerrar Sesión
            </button>
        </div>
    </div>

  </div>
</section>
  
